.products {
  margin-bottom: 170px;
}

.products__title {
  margin: 0 0 60px;

  font-size: 35px;
  font-weight: 700;
  line-height: 1.57;
  text-align: center;
  color: var(--text-main-title);
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.products__item {
  display: flex;
  flex-direction: column;

  padding: 26px 20px 16px;

  background-color: var(--background);
  box-shadow: 0 4px 14px 1px rgba(152, 152, 152, 0.2);
}

.products__item__img {
  display: block;

  width: 100%;
  max-width: 214px;
  margin: 0 auto 16px;
}

.products__item__title {
  margin: 0 0 14px;

  color: var(--text-button);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.products__item__descr {
  display: block;

  margin: 0 0 18px;

  color: var(--text-dark);
  font-size: 14px;
  text-align: center;
}

.products__item__button {
  margin-top: auto;
}

@media (max-width: 1000px) {
  .products__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .products__list {
    grid-template-columns: 1fr;
  }
}
