body {
  background-color: var(--background);

  font-family: 'Muller', sans-serif;
  font-size: 16px;
  color: var(--text);
}

a, button {
  font-family: inherit;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  padding-bottom: 100px;
}

.button {
  padding: 22px 54px;

  background-color: var(--accent);
  border: none;
  cursor: pointer;

  color: var(--text-button);
  font-weight: 700;
  text-align: center;
}

.button.button--small {
  padding: 18px 40px;
}

.button.button--stretch {
  width: 100%;
}

.input {
  width: 100%;
  padding: 24px;

  background-color: var(--background);
  border: solid 1px var(--text);
  box-sizing: border-box;
  outline: none;

  color: var(--text);
}
