:root {
  --background: #FFFFFF;
  --accent: #ffaf18;
  --text: #b99150;
  --text-header: #a46b00;
  --text-title: #ba9150;
  --text-logo: #ffc468;
  --text-button: #382400;
  --text-dark: #181a1a;
  --text-button-dark: #020303;
}
