<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Pizza chieff</title>
</head>
<body>
  <header class="header">
    <div class="header__container container">
      <div class="header__logo">
        <img class="header__logo__img" src="../assets/img/logo.png" alt="" />
        <span class="header__logo__text">pizza <br /> chief</span>
      </div>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a href="#" class="nav__list__link">
              Пиццы
            </a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__link">
              Напитки
            </a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__link">
              Доставка и оплата
            </a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    <section class="hero">
      <div class="hero__container container">
        <div class="hero__column">
          <h1 class="hero__title">
            Самая вкусная пицца в мире
            <span>только в Pizza Cheff</span>
          </h1>

          <div class="hero__advantages advantages">
            <div class="advantages__item">
              <img src="../assets/icons/paste.svg" alt="" class="advantages__item__img" />
              <div class="advantages__item__wrapper">
                <h3 class="advantages__item__title">
                  Лучшее тесто
                </h3>
                <span class="advantages__item__descr">
                  Мы создаем тесто только из
                  отборной итальянской муки
                  наивысшего качества
                </span>
              </div>
            </div>
            <div class="advantages__item">
              <img src="../assets/icons/kitchen-pack.svg" alt="" class="advantages__item__img" />
              <div class="advantages__item__wrapper">
                <h3 class="advantages__item__title">
                  Лучшие повара
                </h3>
                <span class="advantages__item__descr">
                  Пиццы готовят самые
                  профессиональные
                  итальянские повара
                </span>
              </div>
            </div>
            <div class="advantages__item">
              <img src="../assets/icons/check-big.svg" alt="" class="advantages__item__img" />
              <div class="advantages__item__wrapper">
                <h3 class="advantages__item__title">
                  Гарантия качества
                </h3>
                <span class="advantages__item__descr">
                  Наша пиццерия получила
                  множество наград и
                  признаний по всему миру
                </span>
              </div>
            </div>
            <div class="advantages__item">
              <img src="../assets/icons/hand.svg" alt="" class="advantages__item__img" />
              <div class="advantages__item__wrapper">
                <h3 class="advantages__item__title">
                  Отборные рецепты
                </h3>
                <span class="advantages__item__descr">
                  Мы используем рецепты
                  от мировых лидеров
                  в изготовлении пиццы
                </span>
              </div>
            </div>
          </div>

          <button type="button" class="hero__button button">
            Выбрать пиццу
          </button>
        </div>
        <div class="hero__column">
          <img class="hero__img" src="../assets/img/pizza_big.png" alt="" />
        </div>
      </div>
    </section>

    <section class="products">
      <div class="products__container container">
        <h2 class="products__title">
          Выберите свою любимую пиццу
        </h2>

        <div class="products__list">
          <div class="products__item">
            <img src="../assets/img/pizza1.png" alt="" class="products__item__img">
            <h3 class="products__item__title">
              Мясная Делюкс
            </h3>
            <p class="products__item__descr">
              Пепперони, лук, бекон, томатная паста, колбаски, перец, грибы, соус чили, ананасы
            </p>
            <button type="button" class="products__item__button button button--small button--stretch">
              В корзину
            </button>
          </div>
          <div class="products__item">
            <img src="../assets/img/pizza2.png" alt="" class="products__item__img">
            <h3 class="products__item__title">
              Морская Премиум
            </h3>
            <p class="products__item__descr">
              Перец, сыр, креветки, кальмары, мидии, лосось
            </p>
            <button type="button" class="products__item__button button button--small button--stretch">
              В корзину
            </button>
          </div>
          <div class="products__item">
            <img src="../assets/img/pizza3.png" alt="" class="products__item__img">
            <h3 class="products__item__title">
              Бекон и Сосиски
            </h3>
            <p class="products__item__descr">
              Бекон, сыр, сосиски, ананас, томатная паста
            </p>
            <button type="button" class="products__item__button button button--small button--stretch">
              В корзину
            </button>
          </div>
          <div class="products__item">
            <img src="../assets/img/pizza4.png" alt="" class="products__item__img">
            <h3 class="products__item__title">
              Куриная Делюкс
            </h3>
            <p class="products__item__descr">
              Курица, ананас, сыр Пепперони, соус для пиццы, томатная паста
            </p>
            <button type="button" class="products__item__button button button--small button--stretch">
              В корзину
            </button>
          </div>
          <div class="products__item">
            <img src="../assets/img/pizza5.png" alt="" class="products__item__img">
            <h3 class="products__item__title">
              Барбекю Премиум
            </h3>
            <p class="products__item__descr">
              Свинина BBQ, соус Барбкею, сыр, курица, соус для пиццы, соус чили
            </p>
            <button type="button" class="products__item__button button button--small button--stretch">
              В корзину
            </button>
          </div>
          <div class="products__item">
            <img src="../assets/img/pizza1.png" alt="" class="products__item__img">
            <h3 class="products__item__title">
              Пепперони Дабл
            </h3>
            <p class="products__item__descr">
              Пепперони, сыр, колбаса 2 видов: обжаренная и вареная
            </p>
            <button type="button" class="products__item__button button button--small button--stretch">
              В корзину
            </button>
          </div>
          <div class="products__item">
            <img src="../assets/img/pizza1.png" alt="" class="products__item__img">
            <h3 class="products__item__title">
              Куриное трио
            </h3>
            <p class="products__item__descr">
              Жареная курица, Тушеная курица, Куриные наггетсы, перец, сыр, грибы, соус для пиццы
            </p>
            <button type="button" class="products__item__button button button--small button--stretch">
              В корзину
            </button>
          </div>
          <div class="products__item">
            <img src="../assets/img/pizza1.png" alt="" class="products__item__img">
            <h3 class="products__item__title">
              Сырная
            </h3>
            <p class="products__item__descr">
              Сыр Джюгас, Сыр с плесенью, Сыр Моцарелла, Сыр секретный
            </p>
            <button type="button" class="products__item__button button button--small button--stretch">
              В корзину
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="feedback">
      <div class="feedback__container container">
        <div class="feedback__column">
          <h2 class="feedback__title">
            Хватит думать! <span>Доставим заказ за 30 минут!</span>
          </h2>
          <p class="feedback__descr">
            Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа.
            Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно
            и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё,
            чтобы наш клиент был доволен и не остался голодный!
          </p>
        </div>
        <div class="feedback__column">
          <form action="https://google.com" method="POST" class="feedback__form">
            <label>
              <input type="text" class="feedback__form__input input" placeholder="Ваше имя" />
            </label>
            <label>
              <input type="text" class="feedback__form__input input" placeholder="Адрес доставки" />
            </label>
            <label>
              <input type="text" class="feedback__form__input input" placeholder="Телефон" />
            </label>

            <button class="feedback__form__submit button button--stretch">
              Оформить заказ
            </button>
          </form>
        </div>
        <div class="feedback__column">
          <img src="../assets/img/feedback-pizza.png" alt="" class="feedback__img" />
        </div>
      </div>
    </section>
  </main>
</body>
</html>
