<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Pizza chieff</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__logo">
        <img class="header__logo__img" src="../assets/img/logo.png" alt="">
        <span class="header__logo__text">pizza <br> chief</span>
      </div>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a href="#" class="nav__list__link">
              Пиццы
            </a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__link">
              Напитки
            </a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__link">
              Доставка и оплата
            </a>
          </li>
          <li class="nav__list__item">
            <a href="#" class="nav__list__link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</body>
</html>
